window-rule {
    background-effect {
        blur false
        xray false
        liquid-glass {
            refraction-strength 10
            power-factor 10
            refraction-power 1
            glow-weight 0.00
            edge-lighting 0.4
            saturation 0.9
            vibrancy 0
            adaptive-dim 0.25
            adaptive-boost 0.25
            physical-refraction 0
            lens-distortion 0
            fringing 0
	    refraction-dilute 0
        }
    }
}

layer-rule {
    match namespace="linux-wallpaperengine"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
